Your portfolio:

Value: {{ value }}
Cost: {{ cost }}
Rate: {{ rate }}
Last Update: {{ lastUpdateTime }}
 
{{#assets}}

Name: {{ name }}
Value: {{ value }}
Total: {{ total }}
Price: {{ price }}
Cost Price:  {{ costPrice }}
Rate: {{ rate }}

{{/assets}}