Following commmands are available:

/help - Help().
/start - Alias for `/help`.
/create - It creates a portfolio for you.
/live - It calculates your potfolio with live prices.
/get - It returns your portfolio.
/get_detail - It returns your portfolio with detail.
/get_asset_types - It returns supported asset types. 
/add_asset - It adds asset to your portfolio.
e.g. `/add_asset asset_name asset_type count price` (name must be same with exchange identifier)
/delete_asset -     It deletes asset from portfolie.
e.g. `/delete_asset name`
/set_alert - It creates a alert for a asset. When it hits target, it sends notification to you.
e.g. `/set_alert alert_type asset_name asset_type targetPrice` (type -> upper\_limit or lower\_limit)
/remove_alert - It removes a alert for your portfolio. 
e.g. `/remove_alert asset_name`
/get_alerts - It returns active alerts for your portfolio.
/destroy - It deletes your asset portfolo.